.container {
  max-width: 1360px;
  margin: 0 auto;
}

.shoppingCartHeader {
  display: flex;
  align-items: center;
  margin: 40px 0 40px 0;
}

.pageTitle {
  font-size: 64px;
  line-height: 1.1;
  font-weight: 650;
  margin: 0;
}

.backButtonWrapper {
  margin-left: 27px;
  display: flex;
  align-items: center;
}

.conectionLine {
  display: inline-block;
  width: 682px;
  height: 1px;
  background-color: #7575753a;
}

.mainContent {
  display: flex;
  gap: 32px;
  margin-bottom: 80px;
}

.basketItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.basketItem {
  position: relative;
  display: flex;
  gap: 32px;
  border: 1px solid #7575753a;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 780px;
}

.itemImage {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-right: 1px solid #7575753a;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.itemInfo {
  width: 548px;
  height: 180px;
  position: relative;
}

.removeButton {
  position: absolute;
  top: 32px;
  right: 32px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productTitle {
  font-size: 20px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 32px;
  max-width: 476px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.quantityPriceRow {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.priceBlock {
  display: flex;
  gap: 16px;
  align-items: end;
  margin-left: 32px;
}

.normalPrice {
  font-size: 20px;
  line-height: 1.3;
  text-decoration: line-through;
  color: #757575;
  font-weight: 500;
}

.discountPrice {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  color: black;
}

.quantityControl {
  display: flex;
  align-items: center;
}

.quantityButton {
  color: #757575a7;
  width: 58px;
  height: 58px;
  font-size: 32px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.quantityButton:hover {
  background-color: #f0f0f0;
}

.quantityNumber {
  font-size: 20px;
  width: 98px;
  height: 58px;
  border-top: 1px solid #7575753b;
  border-bottom: 1px solid #7575753b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.emptyBasketTitle {
  margin-top: 40px;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
}

.emptyBasketText {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

.continueButton {
  margin-top: 32px;
  background-color: #0d50ff;
  color: white;
  border: none;
  width: 313px;
  height: 58px;
  border-radius: 6px;
  font-size: 20px;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .shoppingCartHeader {
    display: flex;
    justify-content: center;
  }

  .pageTitle {
    font-size: 48px;
  }

  .conectionLine {
    width: 200px;
  }

  .basketItem {
    gap: 16px;
  }

  .productTitle {
    font-size: 22px;
  }

  .itemImage {
    width: 150px;
    height: 140px;
    flex-shrink: 0;
  }

  .itemInfo {
    width: calc(100% - 120px - 16px);
    height: auto;
  }

  .rightSide {
    width: 100%;
    max-width: 520px;
  }

  .quantityButton {
    width: 38px;
    height: 38px;
    font-size: 25px;
  }

  .quantityNumber {
    width: 48px;
    height: 38px;
    font-size: 18px;
  }

  .discountPrice {
    font-size: 30px;
  }
  .normalPrice {
    font-size: 18px;
  }
}
