.allCategoryWrapper {
  max-width: 1360px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 24px;
}

.conectionLine {
  width: 16px;
  height: 1px;
  background-color: #7575753a;
}

.categoriesTitle {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 40px;
}

.filtersWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.filterBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filterLabel {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.priceInput {
  width: 112px;
  height: 36px;
  padding: 8px 56px 8px 16px;
  border: 1px solid #7575753a;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  -moz-appearance: textfield;
}

.priceInput::-webkit-outer-spin-button,
.priceInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select {
  height: 36px;
  padding: 4px 8px;
  border: 1px solid #7575753a;
  border-radius: 6px;
  font-size: 16px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  justify-content: center;
}

.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
  width: 316px;
  min-height: 422px;
  border-radius: 12px;
  border: 1px solid #7575753a;
}

.productCard:hover {
  transform: translateY(-4px);
}

.imageWrapper {
  position: relative;
}

.addToCartBtn {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 284px;
  height: 58px;
  background-color: #0d50ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s, background-color 0.2s;
}

.imageWrapper:hover .addToCartBtn {
  opacity: 1;
}

.addToCartBtn:hover {
  background-color: black;
}

.discountBadge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #0d50ff;
  color: #fff;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 20px;
  line-height: 1.3;
  z-index: 10;
}

.productImage {
  width: 100%;
  height: 284px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid #7575753a;
}

.productTitle {
  margin: 20px auto 0 auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  width: 252px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceWrapper {
  display: flex;
  gap: 16px;
  margin-left: 32px;
  margin-top: 16px;
  align-items: flex-end;
}

.discountPrice {
  font-size: 40px;
  font-weight: 600;
  color: black;
  line-height: 1.1;
}

.originalPrice {
  font-size: 20px;
  font-weight: 500;
  color: #757575;
  line-height: 1.3;
  text-decoration: line-through;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #0d50ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@media (max-width: 1329px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-items: center;
  }

  .productCard {
    width: 100%;
    max-width: 316px;
  }

  .categoriesTitle {
    font-size: 48px;
  }

  .priceWrapper {
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .productsGrid {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 16px;
  }

  .productCard {
    width: 100%;
    max-width: 316px;
  }
}
